$cyan: hsl(179, 62%, 43%);
$brightCyan: hsl(178, 49%, 51%);
$brightYellow: hsl(71, 73%, 54%);

$lightGray: hsl(204, 43%, 93%);
$transparentLightGray: hsla(204, 43%, 93%, .8);
$grayishBlue: hsl(218, 22%, 67%);
$transparentGrayishBlue: hsla(218, 22%, 67%, .5);
$shadowBlack: hsla(0, 0%, 0%, .2);