@use 'styleFormatting';
@use 'colors';
@use 'mixins';

@include styleFormatting.formatting;

.subscription {
    width: 85vw;

    &__info {
        @include mixins.centerGrid;
        gap: 1em;
        background-color: colors.$lightGray;
        border-radius: 5px 5px 0 0;
        padding: 1em;
    }

    &__title {
        color: colors.$cyan;
        width: 100%;
        font-size: 1.35rem;
        letter-spacing: 0.01em;
    }

    &__guarantee {
        @include mixins.centerGrid;
        gap: 1em;
        color: colors.$brightYellow;
        font-size: 1rem;
        font-weight: 700;
    }

    &__description {
        color: colors.$grayishBlue;
        line-height: 1.5;
    }

    &__pricing {
        background-color: colors.$cyan;
        color: colors.$lightGray;
        padding: 1em; 
    }

    &__price {
        padding: 1em 0;
        
        &-value {
            font-size: 1.7rem;
        }
    
        &-period {
            font-size: 1rem;
            color: colors.$transparentLightGray;
            margin-left: .5em;
        }
    }
    
    &__button {
        background-color: colors.$brightYellow;
        width: 100%;
        border: none;
        padding: 1em;
        margin: 1em 0 0;
        border-radius: 5px;
        color: colors.$lightGray;
    }
    
    &__benefits {
        background-color: colors.$brightCyan;
        color: colors.$lightGray;
        border-radius: 0 0 5px 5px;
        padding: 1em;

        &-list {
            padding: 0;
            line-height: 1.4;
        }
    }
}

footer {
    font-size: .7rem;
    color: black;
    padding-bottom: 1rem;
    a { 
        text-align: center;
        color: green
    }
}