@use 'styleFormatting';
@use 'colors';
@use 'mixins';

@include styleFormatting.formatting;

.subscription {
    width: 85vw;
    margin: 3rem 0;

    &__info {
        @include mixins.flex-column(1.2em);
        @include mixins.box-style(colors.$lightGray, 1.5em, 5px 5px 0 0);
    }

    &__title {
        @include mixins.font-style(1.35rem, 700, colors.$cyan);
        letter-spacing: 0.01em;
    }

    &__guarantee {
        @include mixins.flex-column(1.5em);
        @include mixins.font-style(1rem, 700, colors.$brightYellow);
    }

    &__description {
        @include mixins.font-style(.85rem, 400, colors.$grayishBlue);
        font-size: .85rem;
        line-height: 1.5;
    }

    &__pricing {
        @include mixins.box-style(colors.$cyan);
        color: colors.$lightGray;

        &-title {
            @include mixins.font-style(1.1rem, 700);
        }
    }

    &__price {
        padding: .8em 0 .4em;
        
        &-value {
            @include mixins.font-style(1.7rem, 700);
        }

        &-description {
            font-size: 1rem;
        }
    
        &-period {
            @include mixins.font-style(1rem, 400, colors.$transparentLightGray);
            margin-left: .5em;
        }
    }
    
    &__button {
        @include mixins.box-style(colors.$brightYellow, 1em, 5px);
        @include mixins.font-style(.9rem, 700, colors.$lightGray);
        width: 100%;
        border: none;
        margin: 2em 0 0;
        box-shadow: 0 6px 20px colors.$shadowBlack
    }
    
    &__benefits {
        @include mixins.flex-column(1.2em);
        @include mixins.box-style(colors.$brightCyan, 1.5em, 0 0 5px 5px);
        text-align: start;
        color: colors.$lightGray;

        &-title {
            @include mixins.font-style(1.1rem, 700)
        }

        &-list {
            padding: 0;
            margin: 0;
            line-height: 1.4;
            font-size: .9rem;
        }
    }
}

footer {
    font-size: .7rem;
    color: black;
    padding-bottom: 1rem;
    a { 
        text-align: center;
        color: green
    }
}