@use 'styleFormatting';
@use 'colors';
@use 'mixins';

@include styleFormatting.formatting;

.subscription {
    width: 85vw;
    margin: 3rem 0;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1.2em;
        background-color: colors.$lightGray;
        border-radius: 5px 5px 0 0;
        padding: 1.5em;
    }

    &__title {
        color: colors.$cyan;
        font-size: 1.35rem;
        letter-spacing: 0.01em;
    }

    &__guarantee {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        color: colors.$brightYellow;
        font-size: 1rem;
        font-weight: 700;
    }

    &__description {
        color: colors.$grayishBlue;
        font-size: .85rem;
        line-height: 1.5;
    }

    &__pricing {
        gap: 1em;
        background-color: colors.$cyan;
        color: colors.$lightGray;
        padding: 1.5em;

        &-title {
            font-size: 1.1rem;
            font-weight: 700;
        }
    }

    &__price {
        padding: .8em 0 .4em;
        
        &-value {
            font-size: 1.7rem;
        }

        &-description {
            font-size: 1rem;
        }
    
        &-period {
            font-size: 1rem;
            color: colors.$transparentLightGray;
            margin-left: .5em;
        }
    }
    
    &__button {
        background-color: colors.$brightYellow;
        font-size: .9rem;
        font-weight: 700;
        width: 100%;
        border: none;
        padding: 1em;
        margin: 2em 0 0;
        border-radius: 5px;
        color: colors.$lightGray;
        box-shadow: 0 6px 20px colors.$shadowBlack
    }
    
    &__benefits {
        display: flex;
        flex-direction: column;
        gap: 1.2em;
        text-align: start;
        background-color: colors.$brightCyan;
        color: colors.$lightGray;
        border-radius: 0 0 5px 5px;
        padding: 1.5em;

        &-title {
            font-size: 1.1rem;
            font-weight: 700;
        }

        &-list {
            width: 100%;
            padding: 0;
            margin: 0;
            line-height: 1.4;
            font-size: .9rem;
        }
    }
}

footer {
    font-size: .7rem;
    color: black;
    padding-bottom: 1rem;
    a { 
        text-align: center;
        color: green
    }
}