@font-face {
  font-family: "Karla";
  src: url("./../assets/fonts/Karla/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, p {
  margin-block-end: 0;
  margin-block-start: 0;
}

h1, h2, h3 {
  line-height: 1.1;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

body {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
  height: 100vh;
  padding: 1rem;
  margin: 0;
  background-color: hsla(218, 22%, 67%, 0.5);
  font-family: "Karla", sans-serif;
}

.subscription {
  display: grid;
  width: 85vw;
  max-width: 25rem;
  margin: 3rem 0;
  border-radius: 5px;
  box-shadow: 0 3px 10px hsl(218, 22%, 67%);
}
.subscription__info {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  background-color: hsl(204, 43%, 93%);
  padding: 1.5em;
  border-radius: 5px 5px 0 0;
}
.subscription__title {
  font-size: clamp(1.35rem, 1.297rem + 0.225vw, 1.5rem);
  font-weight: 700;
  color: hsl(179, 62%, 43%);
  letter-spacing: 0.01em;
}
.subscription__guarantee {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  font-size: clamp(1rem, 0.982rem + 0.075vw, 1.05rem);
  font-weight: 700;
  color: hsl(71, 73%, 54%);
}
.subscription__description {
  font-size: clamp(0.85rem, 0.815rem + 0.15vw, 0.95rem);
  font-weight: 400;
  color: hsl(218, 22%, 67%);
  line-height: 1.5;
}
.subscription__pricing {
  background-color: hsl(179, 62%, 43%);
  padding: 1.5em;
  border-radius: 5px;
  color: hsl(204, 43%, 93%);
}
.subscription__pricing-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: inherit;
}
.subscription__price {
  padding: 0.8em 0 0.4em;
}
.subscription__price-value {
  font-size: 1.7rem;
  font-weight: 700;
  color: inherit;
}
.subscription__price-description {
  font-size: 1rem;
}
.subscription__price-period {
  font-size: 1rem;
  font-weight: 400;
  color: hsla(204, 43%, 93%, 0.8);
  margin-left: 0.5em;
}
.subscription__button {
  background-color: hsl(71, 73%, 54%);
  padding: 1em;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(204, 43%, 93%);
  width: 100%;
  border: none;
  margin: 2em 0 0;
  cursor: pointer;
  box-shadow: 0 6px 20px hsla(0, 0%, 0%, 0.2);
  transition: background 0.5s ease, transform 0.4s ease;
}
.subscription__button:hover {
  background: hsl(71, 73%, 44%);
  transform: translateY(-2px);
  box-shadow: 0 8px 25px hsla(0, 0%, 0%, 0.2);
}
.subscription__benefits {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  background-color: hsl(178, 49%, 51%);
  padding: 1.5em;
  border-radius: 0 0 5px 5px;
  text-align: start;
  color: hsl(204, 43%, 93%);
}
.subscription__benefits-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: inherit;
}
.subscription__benefits-list {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-size: 0.9rem;
}

footer {
  font-size: 0.7rem;
  color: black;
  padding-bottom: 1rem;
}
footer a {
  text-align: center;
  color: green;
}

@media (min-width: 1024px) {
  .subscription {
    max-width: 38rem;
    grid-template-areas: "info info" "pricing benefits";
    grid-template-columns: 1fr 1fr;
  }
  .subscription__info {
    grid-area: info;
    padding: 2.1em 3.9em 2.1em 2.1em;
  }
  .subscription__description {
    letter-spacing: 0.01em;
    margin-top: -0.7em;
  }
  .subscription__pricing {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
    grid-area: pricing;
    padding: 2em;
    border-radius: 0 0 0 5px;
  }
  .subscription__benefits {
    grid-area: benefits;
    gap: 1em;
    padding: 2em;
    border-radius: 0 0 5px 0;
  }
}

/*# sourceMappingURL=index.css.map */
